 $z-index-slide:21;
 .slide-layout {
 	position: fixed;
 	width: 230px;
 	top: 0;
 	visibility: hidden;
 	// left: -230px;
 	// opacity: 0;
 	transition: opacity .1s, visibility 0s .1s;
 	box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, .1);
 	box-sizing: border-box;
 	background: #fff;
 	z-index: $z-index-slide;
 	&.is-active {
 		visibility: visible;
 	}
 }
 
 .slide-content {
 	width: 230px;
 	padding: 13px 22px;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 
 .menu {
 	overflow-y: auto;
 }
 
 .menu-item {
 	max-height: 40px;
 	overflow: hidden;
 	position: relative;
 }
 
 .menu-item-link {
 	display: block;
 	position: relative;
 	border: none;
 	background: none;
 	white-space: nowrap;
 	outline-offset: -5px;
 	overflow: hidden;
 	-moz-transition: height .4s ease;
 	-webkit-transition: height .4s ease;
 	transition: height .4s ease;
 	&:hover {
 		text-decoration: none;
 		background-color: #666;
 		color: #fff;
 	}
 }
 
 .menu-name {
 	display: inline-block;
 	overflow: hidden;
 	white-space: nowrap;
 	word-wrap: normal;
 	-o-text-overflow: ellipsis;
 	text-overflow: ellipsis;
 	width: 150px;
 	margin-left: 6px;
 	line-height: 20px;
 	vertical-align: bottom;
 }
 
 .menu-separator {
 	border-top: 1px solid #ebebeb;
 	margin-top: 6px;
 	margin-bottom: 6px;
 }
 
 .menu-search-container {
 	padding: 10px 0;
 	border-bottom: 1px solid #ebebeb;
 	margin-bottom: 3px;
 }
 
 .menu-search-input {
 	display: block;
 	width: 100%;
 	box-sizing: border-box;
 	padding: 5px 0;
 }
 
 //  .dropdown {
 //  	.menu {
 //  		border-radius: 3px;
 //  		box-shadow: 0 2px 40px rgba(0, 0, 0, .4);
 //  		transition: opacity .218s;
 //  		background: #fff;
 //  		border: 1px solid #ccc;
 //  		border: 1px solid rgba(0, 0, 0, .2);
 //  		cursor: default;
 //  		font-size: 13px;
 //  		margin: 0;
 //  		outline: none;
 //  		padding: 6px 0;
 //  		position: absolute;
 //  		z-index: $z-index-slide;
 //  		visibility: hidden;
 //  		.menu-item {
 //  			position: relative;
 //  			color: #333;
 //  			cursor: pointer;
 //  			list-style: none;
 //  			margin: 0;
 //  			padding: 6px 8em 6px 30px;
 //  			white-space: nowrap;
 //  			outline: none;
 //  			-webkit-user-select: none;
 //  			text-align: left;
 //  			&:hover {
 //  				background-color: #e8e8e8;
 //  			}
 //  		}
 //  	}
 //  	&:hover {
 //  		.menu {
 //  			visibility: visible;
 //  		}
 //  	}
 //  }