body {
	line-height: 1;
	text-align: left;
	text-align: start
}

menu,
ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

strong,
b {
	font-weight: 500
}

body {
	border: 0
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent
}

hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent
}

sup {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent
}

table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent
}

body {
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	font: 12px Roboto, arial, sans-serif
}

button,
input,
textarea {
	font: 12px Roboto, arial, sans-serif
}

a:focus {
	outline: 1px dotted #666;
	border: 0
}

button:focus {
	outline: 1px solid #767676
}

h1,
h2 {
	font-weight: normal
}

h3,
h4,
h5,
h6 {
	font-weight: 500
}

h1 {
	font-size: 20px
}

h2 {
	font-size: 16px
}

h3,
h4 {
	font-size: 13px
}

h5,
h6 {
	font-size: 10px
}

dt {
	font-weight: 500
}


/**
	 * ------------------------------------------------------------------------
	 * 
	 * ------------------------------------------------------------------------
	 */

sup {
	font-size: 80%
}

html,
body,
#body-container {
	height: 100%
}

body>#body-container {
	height: auto;
	min-height: 100%
}

#content-container,
#body-container {
	//padding-bottom: 191px;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body.lite #content-container {
	padding-bottom: 0
}

body {
	background: #f1f1f1
}

body,
input,
button,
textarea,
select {
	font-family: Roboto, arial, sans-serif;
	font-size: 13px
}

a {
	color: #167ac6;
	cursor: pointer;
	text-decoration: none
}

a:hover,
a:focus {
	text-decoration: underline
}

embed,
object {
	position: relative
}


/**
	 * ------------------------------------------------------------------------
	 * 
	 * ------------------------------------------------------------------------
	 */

$z-index-header:20;
.header-fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: $z-index-header;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.header-container {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	min-width: 0;
	padding-bottom: 8px;
	padding-top: 7px;
	position: relative;
}

.header-logo {
	float: left;
	//margin-top: 3px;
	position: relative;
	//width: 200px;
}

.header-logo .header-toggle-btn {
	display: inline-block;
	margin-left: -7px;
	height: 30px;
	&:focus {
		outline: none;
	}
	& .header-btn-ico {
		height: 20px;
		width: 20px;
		opacity: .6;
		&:hover {
			opacity: 1;
		}
	}
}

.header-line {
	margin-top: 3px;
	//max-width: 650px;
	//overflow: hidden;
	padding: 0;
	position: relative;
	&>button {
		float: left;
		border-left: none;
		border-right: none;
		border-radius: 0;
		border-color: #e8e8e8;
		&:first-child {
			border-left: 1px solid #e8e8e8;
		}
		&:last-child {
			border-right: 1px solid #e8e8e8;
		}
	}
}

.header-search-input {
	background-color: #fff;
	font-size: 14px;
	height: 29px;
	line-height: 30px;
	margin: 0 0 2px;
	overflow: hidden;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color .2s ease;
	-webkit-transition: border-color .2s ease;
	transition: border-color .2s ease;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px #eee;
	input {
		background: transparent;
		border: 0;
		display: inline-block;
		font-size: 16px;
		height: 100%;
		left: 0;
		margin: 0;
		outline: none;
		padding: 2px 6px;
		position: absolute;
		width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&:focus {
			border-color: #fff;
		}
	}
}

.header-search .header-search-button {
	padding: 0;
	float: right;
	height: 29px;
	border-left: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}

.header-search-content {
	border: none;
	display: block;
	opacity: .6;
	padding: 0;
	background-size: auto;
	width: 20px;
	height: 20px;
	box-shadow: none;
	//margin: 0 25px;
	&:hover {
		opacity: 1
	}
}

.header-btn-ico {
	font-family: 'Material Icons';
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	white-space: nowrap;
	letter-spacing: normal;
	text-transform: none;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

