<div class="dropdown">

	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Notes
		</div>
	</div>

	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Node.js
		</div>
	</div>

	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Sqlite
		</div>
	</div>


	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			CSS
		</div>
	</div>

	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Javascript
		</div>
	</div>


	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Go
		</div>
	</div>

	<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			Person
		</div>
	</div>
	
	
		<div class="dropdown__menu-item" >
		<div class="dropdown__menu-item-text">
			CodePen
		</div>
	</div>
	
</div>