<div class="dropdown">
	<div class="command dropdown__menu-item" data-binding="blockquote">
		<div class="dropdown__menu-item-text">
			Blockquote
		</div>
	</div>
	<div class="command dropdown__menu-item" data-binding="fmtToarray">
		<div class="dropdown__menu-item-text">
			Format to Array
		</div>

	</div>
	<div class="command dropdown__menu-item" data-binding="removeEmpty">
		<div class="dropdown__menu-item-text">

			Remove the Empty Lines
		</div>
	</div>

	<div class="command dropdown__menu-item" data-binding="customList">
		<div class="dropdown__menu-item-text">

			Custom List
		</div>

	</div>
	<div class="command dropdown__menu-item" data-binding="shortDate">
		<div class="dropdown__menu-item-text">

			DateTime String
		</div>

	</div>


	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Notes
		</div>
	</div>

	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Node.js
		</div>
	</div>

	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Sqlite
		</div>
	</div>


	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			CSS
		</div>
	</div>

	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Javascript
		</div>
	</div>


	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Go
		</div>
	</div>

	<div class="dropdown__menu-item category">
		<div class="dropdown__menu-item-text">
			Person
		</div>
	</div>

	<div class="dropdown__menu-item  category">
		<div class="dropdown__menu-item-text">
			CodePen
		</div>
	</div>
</div>