 
		<a class="dialog-close">
			<i class="material-icons">close</i>
		</a>
		<div class="dialog-content">
			<div class="dialog-title">
				Insert Image
			</div>
			<div>
				<fieldset>
					<div class="field">
						<label>Image URL</label>
						<input type="text">
					</div>
					<div class="field">
						<label>ALT  Text</label>
						<input type="text">
					</div>
				</fieldset>
			</div>
			<div class="dialog-footer">
				<a class="btn btn-min ">OK</a>
				<a class="btn btn-min dialog-cancel">CANCEL </a>
				
			</div>
		</div>
 